/* extend */
.estiloPrimero{
    margin-left: 4rem;
    margin-right: 4rem;
    text-align: center;
    font-size: $tam-letra +0.2;
}
.estiloSegundo{
    @extend .estiloPrimero;
    font-size: $tam-letra +0.6;
    font-weight: lighter;
}