/* mapas */
$mapLinks:(tienda: lightsalmon, eventos: rgb(231, 169, 169), quienessomos: darksalmon, contacto: lightcoral); 

@each $ligthsalmon, $color in $mapLinks {
    .#{$ligthsalmon} {
        color: $color;
    }
}

/* mapget */
$estilo: (
    color: #007A70,
    tamFuente: 2rem,
);
.mapget {
    background-color: map-get($estilo, color);
    font-size: map-get($estilo, tamFuente);
}

